<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title="Some Page"> </title>
</head>

<body>
  {{> header}}
  <p> {{screamIt welcomeMessage}} </p>

<h3> Hi {{person.name}}</h3>
<p> You Likes to do : {{person.likes}} </p>

{{> footer}}

</body>
